# Node modules
node_modules/

# Environment variables
.env

# Log files
*.log

# Build output or bundled files
dist/
build/

# Editor-specific files
.vscode/
.idea/
*.sublime-*

# OS-specific files
.DS_Store
Thumbs.db

#more
test.txt
